@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
    background-color: #333333;
}



.form-q {
    font-family: 'lobster';
}



.card-panel {
    display: none;      
}

.card-panel.showing{
    display: block;    
}
